{% extends 'base.html' %}
{% block body %}

<div id="particles-js"></div>
<link rel="stylesheet" href="../../static/css/yajirusi_button.css">
<link rel="stylesheet" href="../../static/css/addbutton.css">

<!--メニューバー-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../static/image/secquiz_logo.png" alt="Logo" width="100" height="30"
                class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/manager">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leaderboard_manager">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/questions_manager">Question List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_question_form_manager">Add Question</a>
                </li>
            </ul>
        </div>
    </div>
</nav><br>

<div class="container-sm bg-light" style="width: 800px;"><br>
    <p class="fs-1 fw-bold text-center">Update Question</p><br>
    <p class="fs-6 border-bottom text-center">ここでは問題を編集することができます．</p><br>

    <!--ボタン色々-->
    <form action="/update/{{ question.id }}" method="POST">

        <p class="fs-6">問題文を編集してください</p>
        <div class="form-floating">
            <textarea name="text" style="width: 770px;" id="text" required>{{ question.text }}</textarea><br>
        </div><br>

        <p class="fs-6">難易度を選んでください</p>
        <select class="form-select form-select-lg mb-3" name="difficulty" id="difficulty" required>
            <option value="Easy" {% if question.difficulty=="Easy" %} selected {% endif %}>Easy</option>
            <option value="Normal" {% if question.difficulty=="Normal" %} selected {% endif %}>Normal</option>
            <option value="Hard" {% if question.difficulty=="Hard" %} selected {% endif %}>Hard</option>
        </select><br>

        <div class="border-top border-bottom"><br>

            <p class="fs-6">選択肢を編集してください</p>
            {% for i in range(1, 5) %}
            {% if i <= question.choices.split(',')|length %} {% set choice=question.choices.split(',')[i-1] %} {% else
                %} {% set choice='' %} {% endif %} <label for="choice{{ i }}">選択肢 {{ i }}:</label><br>
                <input type="text" name="choice{{ i }}" id="choice{{ i }}" value="{{ choice }}" style="width: 770px;"
                    required><br>
                {% endfor %}<br>
        </div>

        <div class="border-top"><br>
            <p class="fs-6">正解の選択肢を編集してください</p>
            <select class="form-select form-select-lg mb-3" name="correct_choice" id="correct_choice" required>
                {% for choice_index in range(1, 5) %}
                <option value="{{ choice_index }}" {% if question.correct_choice==choice_index %} selected {% endif %}>
                    {{
                    choice_index }}</option>
                {% endfor %}
            </select><br>
        </div>

        <div class="border-top"><br>
            <label for="explain">解説文:</label><br>
            <textarea name="explain" id="explain" style="width: 770px;" required>{{ question.explain }}</textarea><br>
        </div><br>

        <div class="form-group row justify-content-center">
            <input type="submit" class="button_add" value="Update Question">
        </div>
    </form><br>
    <div class="text-center">
        <a href="/manager" class="button mb_top">ホームに戻る</a>
    </div><br>
</div>

{% endblock %}