{% extends 'base.html' %}

{% block body %}

<div id="particles-js"></div>
<link rel="stylesheet" href="../static/css/button.css">

<div id="wrapper">
    <!--ボタン配置-->
    <div class="container-sm bg-light" style="width: 800px;">
        <div class="d-grid gap-2 col-6 mx-auto">
            <img src="../static/image/secquiz_logo_transparent.png" class="rounded mx-auto d-block" width="400"
                height="300">
            <a class="float3_green" href="/leaderboard_manager" role="button">リーダーボード</a><br>
            <a class="float3_default" href="/questions_manager">問題リスト</a><br>
            <a class="float3_red" href="/add_questions_manager" role="button">問題追加</a><br>
        </div>
    </div>
</div>

{% endblock %}