
  .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -86px;
    margin-left: -89px;
    text-align: center;
  }
  
  a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 500px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
  }
  
/*スタートボタン*/
/*****************************************************************************************************************/
  a.button_start {
    color: rgb(18, 65, 209);
    box-shadow: rgb(18, 65, 209) 0 0px 0px 2px inset;
  }
  
  a.button_start:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgb(18, 65, 209) 0 0px 0px 40px inset;
  }
/*****************************************************************************************************************/

/*リーダーボードボタン*/
/*****************************************************************************************************************/  
  a.button_leader {
    color: rgb(37, 180, 42);
    box-shadow: rgb(37, 180, 42) 0 0px 0px 2px inset;
  }
  
  a.button_leader:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgb(37, 180, 42) 0 80px 0px 2px inset;
  }
/*****************************************************************************************************************/

/*問題リストボタン*/
/*****************************************************************************************************************/  
a.button_list {
    color: rgb(50, 164, 213);
    box-shadow: rgb(50, 164, 213) 0 0px 0px 2px inset;
  }
  
  a.button_list:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgb(50, 164, 213) 0 80px 0px 2px inset;
  }
/*****************************************************************************************************************/

/*問題追加ボタン*/
/*****************************************************************************************************************/  
a.button_add {
    color: rgb(209, 45, 45);
    box-shadow: rgb(209, 45, 45) 0 0px 0px 2px inset;
  }
  
  a.button_add:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgb(209, 45, 45) 0 80px 0px 2px inset;
  }
/*****************************************************************************************************************/