/*== 影が拡がって浮き上がる */

/*ボタンの形状*/
.button_easy{
    background: #fff;
    border: 1px solid #2d8d04;
    border-radius:50%;
    color: #2d8d04;
    padding:10px 20px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1) ;
    /*アニメーションの設定*/
    transition: all .3s;
}

.button_normal{
    background: #fff;
    border: 1px solid #04168d;
    border-radius:50%;
    color: #04168d;
    padding:10px 20px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1) ;
    /*アニメーションの設定*/
    transition: all .3s;
}

.button_hard{
    background: #fff;
    border: 1px solid #d40b19;
    border-radius:50%;
    color: #d40b19;
    padding:10px 20px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1) ;
    /*アニメーションの設定*/
    transition: all .3s;
}