{% extends 'base.html' %}

{% block body %}

<div id="particles-js"></div>

<div id="wrapper">
    <!--ボタン配置-->
    <div class="container-sm bg-light" style="width: 800px;">
        <div class="d-grid gap-2 col-6 mx-auto">
            <img src="../static/image/key_logo.png" class="rounded mx-auto d-block" width="300" height="250">
            <img src="../static/image/文字ロゴ.png"><br>
            <a class="float3_blue" href="/start_game" role="button">Start Game</a><br>
            <a class="float3_green" href="/leaderboard" role="button">Leaderboard</a><br>
            <a class="float3_red" href="/add_question_form" role="button">Add Question</a><br>
        </div>
    </div>
    <!--/wrapper-->
</div>

{% endblock %}