{% extends 'base.html' %}
{% block body %}

<div id="particles-js"></div>
<link rel="stylesheet" href="../../static/css/yajirusi_button.css">
<link rel="stylesheet" href="../../static/css/addbutton.css">


<!--メニューバー-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../static/image/secquiz_logo.png" alt="Logo" width="100" height="30"
                class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/start_game_user">StartGame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leaderboard_user">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/questions_user">Question List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_question_user">Add Question</a>
                </li>
            </ul>
        </div>
    </div>
</nav><br>

<!--上部分-->
<div class="container-sm bg-light" style="width: 800px;"><br>
    <p class="fs-1 fw-bold text-center">問題追加</p><br>
    <p class="fs-6 border-bottom text-center">ここでは問題を作成して，追加することができます．</p><br>

    <!--ボタン色々-->
    <form action="/add_question_user" method="POST">

        <p class="fs-6">問題文を作成してください</p>
        <div class="form-floating">
            <input type="text" class="form-control" name="text" id="text" required>
            <label for="text">Question Text</label>
        </div><br>

        <p class="fs-6">難易度を選んでください</p>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="difficulty"
            id="difficulty" required>
            <option selected>Select difficulty</option>
            <option value="Easy">Easy</option>
            <option value="Normal">Normal</option>
            <option value="Hard">Hard</option>
        </select><br>

        <div class="border-top border-bottom"><br>

            <p class="fs-6">選択肢を作成してください</p><br>

            <div class="form-floating">
                <input type="text" class="form-control" name="choice1" id="choice1" required>
                <label for="choice1">選択肢1</label>
            </div><br>

            <div class="form-floating">
                <input type="text" class="form-control" name="choice2" id="choice2" required>
                <label for="choice1">選択肢2</label>
            </div><br>

            <div class="form-floating">
                <input type="text" class="form-control" name="choice3" id="choice3" required>
                <label for="choice1">選択肢3</label>
            </div><br>

            <div class="form-floating">
                <input type="text" class="form-control" name="choice4" id="choic4" required>
                <label for="choice1">選択肢4</label>
            </div><br>
        </div><br>

        <p class="fs-6">正解の選択肢を選んでください</p>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="correct_choice"
            id="correct_choice" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>

        <p class="fs-6">解説文を作成してください</p>
        <div class="form-floating">
            <input type="explain" class="form-control" name="explain" id="explain" required>
            <label for="explain">解説文</label>
        </div><br>

        <div class="form-group row justify-content-center">
            <input type="submit" class="button_add" name="submit" value="Add Question">
        </div>
    </form><br>
    <div class="text-center">
        <a href="/user" class="button mb_top">ホームに戻る</a>
    </div><br>
</div>

{% endblock %}