{% extends 'base.html' %}

{% block body %}

<div id="particles-js"></div>

<!--メニューバー-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../static/image/secquiz_logo.png" alt="Logo" width="100" height="30"
                class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/start_game">StartGame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/questions_user">Question List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_question_form">Add Question</a>
                </li>
            </ul>
        </div>
    </div>
</nav><br>

<!--上部分-->
<div class="container-sm bg-light rounded-pill" style="width: 800px;"><br>
    <p class="fs-1 fw-bold text-center">Start Game</p><br>
    <p class="fs-6 text-center">ユーザー名を入力してください</p><br>
</div><br>

<!--名前入力フォーム-->
<div class="container-sm bg-light" style="width: 800px;"><br>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form action="/start_game" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
        </div><br>
    </form>
</div>

{% endblock %}