{% extends 'base.html' %}

{% block body %}

<div id="particles-js"></div>

<div id="wrapper">
    <!--ボタン配置-->
    <div class="container-sm bg-light" style="width: 800px;">
        <div class="d-grid gap-2 col-6 mx-auto">
            <img src="../static/image/key_logo.png" width="300" height="250">
            <img src="../static/image/secquiz_logo.png">
            <a class="float3_blue" href="/start_game" role="button">Start Game</a><br>
            <a class="float3_green" href="/leaderboard_user" role="button">Leaderboard</a><br>
            <a class="float3_red" href="/add_questions_user" role="button">Add Question</a><br>
            <a href="/questions_user"><button>問題リスト</button></a><br>
        </div>
    </div>
</div>

{% endblock %}